* {
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px
}

.head {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 10px;
    border-style: inset;
    border-radius: 10px;
}

.title {
    margin-bottom: 10px;
}

.owner {
    margin-left: 140px;
}

.text {
    font-style: italic;
    margin-top: 20px;
}

button {
    font-style: italic;
    margin-top: 30px;
    padding: 20px;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    border-radius: 10px;
    border-color: white;
}

button:hover {
    color: rgb(255, 0, 191);
    border-color: #ffffff;
    box-shadow: 0 0 20px rgba(242, 0, 255, 0.607);

}