* {
    margin: 0%;
    padding: 0%;
    background-color: black;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px
}

.head {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 10px;
    border-style: inset;
    border-radius: 10px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.owner {
    margin-left: 100px;
    padding: 0px 15px;
}

.text {
    font-style: italic;
    margin-top: 20px;
}